/*@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic);*/
/*!
 *   entol v2.0.4
 *   Author: entol.net
 *	 Website: Almsaeed Studio <http://entol.net>
 *   License: Open source - MIT
 *           Please visit http://opensource.org/licenses/MIT for more information
!*/
/*
 * Core: Genral Layout Style
 * -------------------------
 */
html,

body {
    
    font-family: 'Raleway', calibri;
    color:#424242;
    font-size: 14px;
    background-color: #fff;
}
